h1{
 text-align: center;
    margin-top: 10px;
}
.img{
    padding: 50px;
}

header {
    background-color:  #930919;
    margin-top: 40px;
}

h1 {
    text-align: center;
    margin-top: -70px;
    background-color:  #cae8ff;
}