header {
    background-color:  #527820;
    margin-top: 40px;
}
h1 {
    text-align: center;
    margin-top: -70px;
    background-color: #a0cd66;
}

body {


background: conic-gradient(from 45deg, #668030, #BAD29C);
}

